*, html, body {
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: black;
}
.schedule {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}

.day {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 2px 10px;
    width: 8vw;
}

.week {
    display: flex;
}

.logo {
    width: 100px;
}

.logo-img{
    width: 100%;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.timeslot {
    border: 1px solid grey;
    margin-top: 15px;
    width: 80px;
    padding: 7px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999.00px;
}

.timeslot:hover {
    border-color: #ec9ed0;
}

.option {
    margin: 0px 20px;
}

.options {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 15px 0px;
}