* {
    box-sizing: border-box;
    --color-black-600:rgb(31, 31, 31);
    --color-blue-700:#0c0c41; 
    --color-pink-400:rgb(255, 150, 192);
    --color-blue-400:rgb(189, 198, 231);
}

*, html, body {
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color:var(--color-black-600);

}
.navbar {
    margin: 0;
    left: 0%;
    width: 100%;
    background: #151521;
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right:3rem;
    font-size: 1.2rem;
    margin-bottom: 80px;
    top: 0;
    z-index: 999;
}

.nav-item{
    list-style: none;
}

.nav-item a{
    color: #f3f3f3;
}

.nav-item :hover{
    color: var(--color-pink-400);
    text-transform: bold;
}


.navbar-brand img{
 width: 5rem;
 margin-left: 2rem;
}


.schedule {
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    width: 71vw;
    height: 100vh;
    margin-bottom: 80px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;

}

.day {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 2px 10px;
    width: 8vw;
}

.week {
    display: flex;
}

.logo {
    width: 100px;
}

.logo-img{
    width: 100%;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.timeslot {
    border: 1px solid grey;
    margin-top: 15px;
    width: 80px;
    padding: 7px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999.00px;
}

.timeslot:hover {
    border-color: #ec9ed0;
    color: #ec9ed0;
}

.option {
    margin: 0px 20px;
}

.options {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 15px 0px;
}






.confirm {
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 50px;
    width: 30vw;
    height: 70vh;
}

.cancel {
    border: 1px solid #ec9ed0;
    border-radius: 999.99px;
    color: #ec9ed0;
    padding: 4px 8px;
    margin-right: 50px;
    font-size: 20px;

}

.cancel:hover {
    border: 1px solid #ec9ed0;
    border-radius: 999.99px;
    color: #ec9ed0;
    padding: 4px 8px;
}

.submit {
    border: 1px solid #ec9ed0;
    background-color: #ec9ed0;
    color: white;
    font-size: 20px;
    border-radius: 999.99px;  
    padding: 5px 8px;
    margin-left: 50px;
    cursor: pointer;
}

.day-hour {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question {
    font-weight: bolder;
    margin-top: 25px;
}