<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/css/schedule/style.css') }}">
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" /></head>
<body>
    <div class="container">
       <div class="schedule">
        <div class="logo"> <img class="logo-img" src="../static/images/schedule/logo.png" alt="logo"></div>
        <div class="options">
            <span class="material-icons material-symbols-outlined">
                date_range
            </span>    
            <span style="color: #ec9ed0;" class="option material-icons material-symbols-outlined">
                edit_calendar
            </span>  
            <span class="material-icons material-symbols-outlined">
                event_available
            </span>        
        </div>
        <div class="week">
           <form action="/schedule_confirm/{{ schedule }}" method="post">
               <input type="hidden" name="day" value="Saturday">
               <input type="hidden" name="hour" value="4:00 PM">
               <h1>Day</h1>
               <p>Saturday</p>
               <h1>Hour</h1>
               <p>4:00 PM</p>
               <button type="submit">Submit</button>
               <button>Cancel</button>
           </form>
        </div>
    </div>  
    </div>
   
</body>
</html>