<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='../static/css/schedule/style.css') }}">
    <link rel="stylesheet" href="https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" /></head>
<body>
    <!--Nav bar -->
    <div class="nav-menu">
        <div class="row">
                <nav class="navbar navbar-dark navbar-expand-lg">
                    <a class="navbar-brand" href="/landing"><img src="../static/images/landing/logoOf-removebg-preview.png" class="img-fluid" alt="logo"></a> 
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"> <a  href= "/profile"> Profile </a> </li>
                            <li class="nav-item"> <a  href="/schedule"> Schedule </a> </li>
                        </ul>
                </nav>
        </div>
    </div>

    <div class="container">
       <div class="schedule">
        <div class="logo"> <img class="logo-img" src="../static/images/schedule/logo.png" alt="logo"></div>
        <div class="options">
            <span style="color: #ec9ed0;" class="material-icons material-symbols-outlined">
                date_range
            </span>    
            <span class="option material-icons material-symbols-outlined">
                edit_calendar
            </span>  
            <span class="material-icons material-symbols-outlined">
                event_available
            </span>        
        </div>
        <div class="week">
            {% for day in days %}
            <div class="day">
                <strong>{{ day[:3] }}</strong>
                {% for timeslot in timeslots %}
                    {% if timeslot not in reserved[day] %}
                        <a href="schedule_confirm/{{day}} {{timeslot}}">
                        <div class="timeslot">
                        {{ timeslot }}
                        </div>  
                        </a> 
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>  
    </div>
   
</body>
</html>