
*{
  --color-pink-100: rgb(255, 228, 251);
  --color-blue-600: rgb(29,34,55);
  --color-blue-700: #0c0c41; 
  --color-pink-400:rgb(255, 150, 192);
  --color-blue-400: rgb(189, 198, 231);
}


/* body {
    background: var(--color-black-600);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10rem;
   
} */
.admin-wrapper {
    display: flex;
    
}



.admin-wrapper .left-sidebar{
    margin: 0;
    left: 0%;
    height: 100vh;
    flex: 2;
    background: var(--color-blue-700);
    text-decoration: bold; 
    
}

.admin-wrapper .left-sidebar ul{
    list-style: none;
    margin: 0px;
    height: 100%;
    padding: 0px;
    
}

.admin-wrapper .left-sidebar ul li a{
    padding: 18px;
    display: block;
    border-bottom: 1px solid var(--color-blue-400);
    color: aliceblue;
    text-decoration: none;
}

.admin-wrapper .left-sidebar ul li a:hover{
    background:var(--color-blue-600);
    color: aliceblue;

}



.admin-wrapper .admin-content{
    flex: 8;
    height: 100%;
    padding: 40px 100px 100px;
    overflow-y: scroll;
}

.admin-wrapper .admin-content .button {
    background-color: var(--color-blue-700) ;
    border: none;
     color: white;
     padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border-radius: 4px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .admin-wrapper .admin-content .button:hover {
    background-color: var(--color-blue-600); 
  }
  
  .admin-content .page-title{
      text-align: center;
      margin-bottom: 1.5rem;
  }

  table{
      width: 100%;
      border-collapse: collapse;
      font-size: 1.1rem;
  }

  th, td{
      padding: 15px;
      text-align: left;
      border-bottom: 1px solid #d3d3d3;

  }

  .edit{
    color: green;
    text-decoration: none;
  }

  .delete{
      color: red;
      text-decoration: none;
  }

  .edit:hover, .delete:hover{ 
        text-decoration: underline;
  }

   /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 50px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 

  .small-label {
    vertical-align: middle;
    display: inline-block;
    margin-left: 0.25rem;
    margin-right: 1.5rem;
    font: 1.25rem sans-serif;
  }

  .small-label-focus {
    vertical-align: middle;
    display: inline-block;
    margin-left: 0.25rem;
    margin-right: 1.5rem;
    font: 1.25rem sans-serif;
    color:hsl(0, 100%, 50%);
  }

  input[type="text"] {
  font: 1.25rem / 1.5 sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0.75rem;
}

input[type="radio"] {
  font: 1.25rem / 1.5 sans-serif;
  height: 1.5em;
  width: 1.5em;
  vertical-align: middle;
  border-radius: 50%;
}


.submit-button {
  float: right;
  font: 1.25rem sans-serif;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.75rem 1.25rem;
  background-color: hsl(213, 73%, 50%);
  color: white;
}

.delete-button{
  margin: 0 auto;
  font: 1.25rem sans-serif;
  border-radius: 0.25rem;
  cursor: pointer;
  padding: 0.75rem 1.25rem;
  background-color: hsl(0, 100%, 50%);
  color: white;
}