.navbar {
    background: #151521;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.container {
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

.navbar-logo {
    color: rgb(11, 10, 10);
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.navbar-icon {
    margin-right: 0.5rem;
    
}

.navbar-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    justify-content: end;
}

.navbar-item {
    height: 80px;
    border-bottom: 2px solid transparent;
}



.navbar-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}
.fa-bars {
    color: rgb(165, 77, 77);
}

.menu-icon {
    display: none;
}

.navbar-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
}

.navbar-menu.active {
    background: rgba(28, 34, 55, 1);
    left: 0;
    transition: all 0.6s ease;
    z-index: 1;
}

.navbar-links {
    text-align: center;
    padding: 0.1rem;
    width: 100%;
    display: table;
}

.navbar-links:hover {
    color: #f00946;
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.navbar-item:hover {
    border: none;
}

.navbar-item {
    width: 100%;
}

.navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
}

.menu-icon {
    display: block;
    position: absolute;
    top: 0.5;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
}

.fa-times {
    color: #fff;
    font-size: 2rem;
}

.navbar-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 77px;
}