<!-- Add icon library -->
<link rel="stylesheet" href="userProfile.css">

<div class="card">
  <img src="profilePic.jpg" alt="John" style="width:100%">
  <h1>Fulano De Tal</h1>
  <p class="title">Main User, Apt. 503</p>
  <p><a href="javascript:void(0)" class="m-t-10 waves-effect waves-dark btn btn-primary btn-md btn-rounded" data-abc="true">Make Reservation</a></p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>Last Reservation:</button></p>
</div>