.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.7), 
            rgba(0, 0, 0, 0.7)
        ), url('./gym.avif');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
  }

.center { 
position: absolute;
top: 50%;
left: 50%;
right: 0;
margin: auto;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
}

.landing-text {
    color: white;
}
