.background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: 
        linear-gradient(
            rgba(0, 0, 0, 0.7), 
            rgba(0, 0, 0, 0.7)
        ), url('./gym.avif');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
  }

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.center { 
    /* position: absolute;
    top: 50%;
    left: 0%;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
    position: absolute;
    top: 30%;
    left: 30%;
    margin-top: -50px;
    margin-left: -50px;
    width: 1000px;
    height: 1000px;
}

.landing-text {
    color: white;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

#left {
    float: right;
}

#right {
    float: right;
}

.inner {
    display: inline-block;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 2.5%;
}

.division {
    width: 50%;
    height: 100px;
    float: left;
}
